section#site-reactivation-container
  h4
    font-size: 1rem
    margin-bottom: 0.1rem
    opacity: 0.8
  .site-reactivation-inner
    padding-bottom: 1rem
    background-color: #026AA7
    float: none
    .reactivation-box
      .reactivation-box-inner
        background-color: #0079bf
        padding: 1rem
        margin-bottom: 1rem
        a.button
          width: 100%
          text-align: left
          &.active
            background-color: #fff
            color: #000
    .reactivation-choose-date
      .reactivation-box-inner
        padding: 0
        border-left: 2px solid #0079bf
      ul.reactivation-date-list
        margin: 0
        display: block
        li
          display: inline-block
          a.button
            color: #fff
            display: inline-block
            margin-bottom: 0
            &.active
              background-color: #026AA7
              color: #fff
    .reactivation-choose-asset
    .reactivation-preview   
      border-top: 1px solid #fff
      .reactivation-module
        background-color: #0079bf
        margin-bottom: 1rem
        .reactivation-module-inner
          background-color: #026AA7
          padding: .5rem 1rem
          &.active
            background-color: #fff
            color: #000
    .reactivation-box.reactivation-final-check
      .reactivation-box-inner
        background-color: #00446c
        .reactivation-final-date
          font-weight: 700
          font-size: 2.2rem
        .reactivation-old
          color: #0079bf
        i
          font-size: 2.2rem
        .button
          text-align: center











