.row.site-asset-links
    .columns
      ul.asset-list-months
        li(ng-repeat='month in months track by $id($index)')
          a.button(data-asset-month='month.date', ng-class='{active:assetNavToggles.assetListMonth == month.date}' ng-click="getMonthNav(month.date)") {{month.month}}
    .columns
      ul
        li(ng-repeat="siteAsset in siteData | filter:{month : assetNavToggles.assetListMonth} track by $id($index)"  ng-show="assetNavToggles.assetListMonth == siteAsset.month")
          a.button(ui-sref="main.editor.sites({id:siteAsset.date})" data-reactivation-date="{{siteAsset.date}}" ng-click="getDateNav(siteAsset.date)" ng-class='{active:assetNavToggles.assetListDate == siteAsset.date}') {{siteAsset.month}} / {{siteAsset.day}}



