section#info
  .row
    .columns.main-nav
      nav(role="navigation" ng-class="{inactiveBtn : currentAsset.editingMode}")
        a.button(ui-sref="main.editor.newAsset.create" ng-show="editMode") #[i.fi-page-add] &nbsp;Create New Asset
        a.button(ui-sref="main.editor.sites") #[i.fi-page-add] &nbsp;Show Assets
        a.button(ng-click="toggleEdit()" ng-class="{active:editMode}") 
          span(ng-hide="editMode") #[i.fi-play] &nbsp;Edit Mode 
          span(ng-show="editMode") #[i.fi-stop] &nbsp;Exit Edit Mode
        btn-get-code
  ui-view