// 
.row
  .columns(ng-repeat="siteAsset in blankAsset track by $id($index)")
    .row
      .columns.collapse.new-container-inner
        .row
          .columns.small-12.collapse.new-navigation-container
              create-asset-from-new(ng-hide="btnToggles.newFromTemplate || btnToggles.newFromReactivation")
              create-asset-from-template(ng-hide="btnToggles.newFromNew || btnToggles.newFromReactivation")
              new-from-reactivation-trigger(ng-hide="btnToggles.newFromTemplate || btnToggles.newFromNew")
          .new-from-reactivation-container(ng-show="btnToggles.newFromReactivation")
            .reactivation-box-inner.columns.collapse
              ul.reactivation-date-list
                li(ng-repeat="siteAsset in siteData track by $id($index)") 
                  new-from-reactivation-choose
        .row.new-from-reactivation-preview.collapse(ng-repeat="siteAsset in siteData track by $id($index)" ng-show="siteAsset.date == btnToggles.newFromReactivationDate")
          .row
            .columns
              h4 {{siteAsset.date}} Preview
            .columns.small-6.collapse
              p Homepage Modules
              .reactivation-modules.columns.collapse(ng-repeat="homepageModule in siteAsset.homepageModules track by $id($index)" ng-class="{'medium-12':homepageModule.columns == '1' , 'medium-6':homepageModule.columns == '2' , 'medium-4':homepageModule.columns == '3'}")
                a.button.choose-reactivation-assets(data-asset-type="homepageModules"  data-asset-uuid="{{homepageModule.uuid}}" data-asset-date="{{siteAsset.date}}") {{homepageModule.name}}
            .columns.small-6.collapse
              .row
                .columns.small-12.reactivation-box.collapse
                  p Top Nav Flyouts
                  .columns.reactivation-box-inner.collapse
                    .reactivation-modules(ng-repeat="flyout in siteAsset.flyouts track by $id($index)"  data-uuid="{{flyout.uuid}}")
                      a.button.choose-reactivation-assets( data-asset-type="flyouts"  data-asset-uuid="{{flyout.uuid}}" data-asset-date="{{siteAsset.date}}") {{flyout.name}}
              .row
                .columns.small-12.reactivation-box.collapse
                  p Global C Drop Down
                  .columns.reactivation-box-inner.collapse
                    .reactivation-modules(ng-repeat="glblc in siteAsset.globalCs track by $id($index)"  data-uuid="{{glblc.uuid}}")
                      a.button.choose-reactivation-assets( data-asset-type="globalCs"  data-asset-uuid="{{glblc.uuid}}" data-asset-date="{{siteAsset.date}}") {{glblc.name}}
              .row
                .columns.small-12.reactivation-box.collapse
                  p Global A Rotate
                  .columns.reactivation-box-inner.collapse
                    .reactivation-modules(ng-repeat="glbla in siteAsset.globalAs track by $id($index)"  data-uuid="{{flyout.uuid}}")
                      a.button.choose-reactivation-assets( data-asset-type="globalAs"  data-asset-uuid="{{glbla.uuid}}" data-asset-date="{{siteAsset.date}}") {{glbla.name}}






              .new-from-new-container(ng-show="")

              .new-from-template-container(ng-show="")

