.row.site-asset-links
    .columns
      ul.asset-list-months
        li(ng-repeat='month in months track by $index')
          a.button(data-asset-month='month.date', ng-class='{active:reactivationNavToggles.assetListMonth == month.date}' ng-click="getReactivationMonthNav(month.date)") {{month.month}}
    .columns
      ul
        li(ng-repeat="siteAsset in siteData | filter:{month : reactivationNavToggles.assetListMonth} track by $id($index)"  ng-show="reactivationNavToggles.assetListMonth == siteAsset.month")
          a.button(data-reactivation-date="{{siteAsset.date}}" ng-click="getReactivationDateNav(siteAsset.date)" ng-class='{active:reactivationNavToggles.assetListDate == siteAsset.date}') {{siteAsset.date}}








