h4 Choose Reactivation Date:
.row.site-asset-links
  .columns
    ul.asset-list-months
      li(ng-repeat='month in months track by $index')
        a.button(data-asset-month='month.date', ng-class='{active:reactivationVars.month == month.date}' ng-click="setReactivationVars([{'month':month.date}])") {{month.month}}
  .columns
    ul
      li(ng-repeat="siteAsset in siteData | filter:{month : reactivationVars.month} track by $id($index)"  ng-show="reactivationVars.month == siteAsset.month")
        a.button(ng-click="setReactivationVars([{'date':siteAsset.date},{'uuid':siteAsset.uuid},{'url':siteAsset.url},{'day':siteAsset.day},{'type':siteAsset.type}])" ng-class='{active:reactivationVars.uuid == siteAsset.uuid}') {{siteAsset.month}} / {{siteAsset.day}} #[span(ng-show="siteAsset.type == 'LP'") LP]#[span(ng-show="siteAsset.type == 'RA'") RA]
